<!doctype html>
<html>
{% load static %}
<head>
<meta charset="utf-8">
<style>
    .form{
        margin-right: 15%;margin-left: 15%;padding-bottom: 10%;
    }
    .demo{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;    }
</style>
<title>style - Starry Night</title>
</head>

<body style="background-image: url({% static 'generic/bg_white.jpg' %})">
	<p style="margin-left: 10px; font-size: 30px; font-family: 'Impact', 'Haettenschweiler', 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';background-color: #333; color: whitesmoke;text-align: center">style - Starry Night by Van Gough<br>
	</p>
        <img class="demo" src={% static 'style_transfer/starry_night.jpg' %}>
      <form class="form" name = "form" enctype = "multipart/form-data"
         action = "/style_transfer/starry_night/proc/" method = "POST" >{% csrf_token %}

         <br>

         <div style = "max-width:470px;padding-top: 20px;margin-left: 17%;">
           <div style="text-align: center;">
               <input type = "file" style = "margin-left:20%;"
                  placeholder = "Image" name = "img" />
			   <br><br><strong style="font-family: Calibri;font-size: 17px">Choose an image and we will try to apply the style to it!</strong>
		   </div>
		  </div>
<br>

         <div style = "max-width:470px;padding-left: 65px;">
            <div style="text-align: center;">

               <button style = "border:0; background-color:#333; margin-top:4%;
                  height:35px; width:80%; margin-left:34%;" type = "submit" value = "Submit" >
                  <strong style="color: white">submit</strong>
               </button>

            </div>
         </div>

</form>

</body><body>
</body>
</html>
