<html>
   <body style="background-color: wheat">

      <form name = "form" enctype = "multipart/form-data" 
            style="background-color: aliceblue;margin-right: 15%;margin-left: 15%;
            padding-bottom: 100%;"
         action = "proc/" method = "POST" >{% csrf_token %}

         <br>

         <div style = "max-width:470px;padding-top: 200px;padding-left: 100px;">
            <div style="text-align: center;">
               <input type = "file" style = "margin-left:20%;"
                  placeholder = "Image" name = "img" />
            </div>
         </div>

         <br>

         <div style = "max-width:470px;padding-left: 65px;">
            <div style="text-align: center;">

               <button style = "border:0; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Submit" >
                  <strong>submit</strong>
               </button>

            </div>
         </div>

      </form>

   </body>
</html>